<div class="bg-gray-100 min-h-screen">
	<header class="p-6 bg-blue-600 text-white text-2xl font-bold">
		{{ site_name }}
	</header>
	<main class="p-8">
		<h1 class="text-3xl font-bold mb-6">Tailwind + Drupal</h1>
		<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
			<div class="p-6 bg-white shadow rounded">
				<h1 class="text-xl font-bold pb-3">Card 1</h1>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam animi veniam corporis iure itaque hic assumenda iusto placeat voluptatem qui molestias, magni sunt accusantium quo in mollitia sed ratione aliquid.</p>
			</div>
			<div class="p-6 bg-white shadow rounded">
				<h1>Card 2</h1>
			</div>
			<div class="p-6 bg-white shadow rounded">Card 3</div>

			{{ include('@drupaltheme/card/card.twig', {
				title: 'My first card',
				body: 'This is the card body',
				image: 'https://via.placeholder.com/400x200',
				url: '/node/1'
			}) }}
		</div>
	</main>
</div>
